<html>
<head>
  <title>Tic Tac Toe</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/tic-tac-toe.js"></script>
</head>

<body>
  <div id="main-container">
    <h1 class="header" >Tic Tac Toe!</h1>
    <div class="controls">

      <div class="players pointer start" id="players-start">
        <i class="fa fa-user fa-3x"></i><p>Two Player Game</p>
      </div>
      <div class="players pointer restart" id="players-restart">
        <i class="fa fa-user fa-3x"></i><p>Restart Two Players</p>
      </div>
      <div class="game-text" id="go">Go!</div>
      <div class="game-text" id="whostarts">Who starts?</div>
      <div class="game-text win-tie" id="win">Win!</div>
      <div class="game-text win-tie" id="tie">Tie!</div>

      <div class="players pointer start" id="computer-start">
        <i class="fa fa-laptop fa-3x"></i><p>One Player Game</p>
      </div>
      <div class="players pointer restart" id="computer-restart">
        <i class="fa fa-laptop fa-3x"></i><p>Restart One Player</p>
      </div>
      
      

      <div class="players pointer first" id="player-first">
        <i class="fa fa-user fa-3x"></i><p>Human first</p>
      </div>
      <div class="players pointer first" id="computer-first">
        <i class="fa fa-laptop fa-3x"></i><p>Computer first</p>
      </div>

    </div> 

  <a href="/"><div class="nav home pointer" id="home"><i class="fa fa-home fa-3x"></i>
    <!-- <p>Home</p> -->
  </div>
  </a>
    <div class="nav info pointer" id="info"><i class="fa fa-info-circle fa-3x"></i> <!--  <p>How to play</p> -->
      <div id="instructions">
       <p>Select a one or two player game and the game begins. In one player mode, select the player vs. computer or computer vs.player option and the first move begins accordingly, i.e. the the computer makes a move immediately after the first option, or first waits for player input for the latter. For two players, you alternate with each other at the same screen.</p>
       <p>Note: If you select the one-player option, you must first select a human first or computer first, before the game can start. All games only begin upon Go!</p>
       <p>You can hit restart at any point if you want to try again. The new game also begins immediately upon go.</p>
       <p>(Click anywhere in this box to close.)</p>
     </div>
    </div>
  
    <table>
      <tbody>
        <tr class="box-row" >
          <td id="box0" class="cell" data-pos="0"><i></i></td>

          <td id="box1" class="cell" data-pos="1"><i></i></td>

          <td id="box2" class="cell" data-pos="2"><i></i></td>
        </tr>
        <tr class="box-row">
          <td id="box3" class="cell" data-pos="3"><i></i></td>

          <td id="box4" class="cell" data-pos="4"><i></i></td>

          <td id="box5" class="cell" data-pos="5"><i></i></td>
        </tr>
        <tr class="box-row">
          <td id="box6" class="cell" data-pos="6"><i></i></td>

          <td id="box7" class="cell" data-pos="7"><i></i></td>

          <td id="box8" class="cell" data-pos="8"><i></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>