<html>
<head>
  <title>Tic Tac Toe</title>

  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

  <script type="text/javascript" src="/js/tic-tac-toe.js"></script>
</head>
<body>
  <div id="main_container">
    <h1 id="main_heading" class="heading" >TicTacToe!</h1>
    <button id="computer-start">Start game</button>
    <table>
      <tbody>
        <tr class="box_row" >
          <td id="box0" class="box_cell" data-pos="0"></td>

          <td id="box1" class="box_cell" data-pos="1"></td>

          <td id="box2" class="box_cell" data-pos="2"></td>
        </tr>
        <tr class="box_row">
          <td id="box3" class="box_cell" data-pos="3"></td>

          <td id="box4" class="box_cell" data-pos="4"></td>

          <td id="box5" class="box_cell" data-pos="5"></td>
        </tr>
        <tr class="box_row">
          <td id="box6" class="box_cell" data-pos="6"></td>

          <td id="box7" class="box_cell" data-pos="7"></td>

          <td id="box_8" class="box_cell" data-pos="8"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>